<launch>
  <!-- Camera node-->
  <node name="bebop_camera_node" pkg="expo_o25" type="camera_node.py" output="screen">
  </node>
  <!-- Teleop node-->
  <node name="teleop_control" pkg="expo_o25" type="bebop_teleop.py" output="screen">
  </node>
    <!-- Throttle node-->
  <node name="throttle_command_node" pkg="expo_o25" type="throttle.py" output="screen">
  </node>
</launch>

